body {
  background-color: rgb(84, 158, 183);
}

header {
  text-align: center;
}



.game-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-play {
  
}

.score-info {
  display: flex;
  gap: 55px;
}

.animation {
  min-height: 400px;
}


.hint {
  display: flex;
  flex-direction: column;
}



.person-img img {
  /* position: relative; */
  height: 10rem; 
  position: absolute; 
  bottom: 0px; 
  left: 8rem
}

.space-gun img{
  position: absolute;
  top: 270px;
  right: 150px;
  transform: rotate(45deg);
  z-index: 10;
  height: 5rem; 
  width: 5rem;
}

.hintBtn {
  width: 55px;
}

.secret-word {
  display: flex;
  margin-top: 20px;
}

.secret-letters {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: aqua;
  margin-right: 15px;
  font-size: 65px;
  /* line-height: 5px; */
}

/* .letter-marker {
  display: block !important;
} */

.keyboard {
  display: grid;
  width: 700px;
  grid-template-columns: repeat(6, 1fr);
  background-color: beige;
}

